body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

.header--main {
    color: #fff;
    font-size: 50px;
    font-weight: normal;
}

.header--secondary {
    color: #fff;
    font-weight: 300;
    font-size: 42px;
}

.header--sub-header {
    color: grey;
    font-size: 21px;
}

/* LINKS */

.link--cta {
    color: aquamarine;
    font-size: 16px;
}

/* FOOTER */

.footer--copyright {
    color: grey;
    font-size: 21px;
    text-align: right;
}
